.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--card-background-hover);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2000;
    border-radius: 4px;
    right: 0;
  }
  .dropdown.open .dropdown-menu {
    display: block;
  }
  .dropdown-item {
    padding: 12px 16px;
    color: var(--spotify-white);
    cursor: pointer;
    font-size: var(--font-size-small);
  }
  .dropdown-item:hover {
    background-color: var(--background-color);
  }