<div class="side-panel-header-conatiner">
    <div class="side-panel-header">
        <span class="side-panel-heading">
            Your Library
        </span>
        <div>
            <button class="panel-button" (click)="createPlaylist()">
                + Create
              </button>

        </div>
    </div>
    <div class="side-panel-pill-filter">
        <span class="panel-button">Albums</span>
        <span class="panel-button">Playlists</span>
        <span class="panel-button">All</span>
    </div>
</div>
<app-media-card-list></app-media-card-list>


